<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage users</title>
</head>
<body>

<style>
    .inline {
    font-size: larger;
    font: italic small-caps bold 16px/2 cursive;
    border:2px solid red;
    font-weight: lighter;
	background-color:#D0B084;
    padding:7px;
    margin:7px;
	border-radius:7px;
	opacity:0.9;
	box-shadow: 10px 10px 10px#2F3841;
	text-align:center;
    display: inline-block;
    }
</style>

    <h1 th:text="'Products: ' + ${listSize}" class='inline'></h1>

    <div th:each="l: ${listProducts}">
        <div th:text="'Id: ' + ${l.id}" class='inline'></div>
        <div th:text="'Name: ' + ${l.name}" class='inline'></div>
        <div th:text="'Price: ' + ${l.price}" class='inline'></div>

        <a sec:authorize="hasAnyAuthority('Admin')" class="h4 mr-3" th:href="@{'/users/edit/' + ${l.id}}">Edit</a>
        <a sec:authorize="hasAnyAuthority('Admin')" class="h4" th:href="@{'/users/delete/' + ${l.id}}">Delete</a>
    </div>



</body>
</html>
