<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .inline {
    font-size: larger;
    font: italic small-caps bold 16px/2 cursive;
    border:2px solid red;
    font-weight: lighter;
	background-color:#D0B084;
    padding:7px;
    margin:7px;
	border-radius:7px;
	opacity:0.9;
	box-shadow: 10px 10px 10px#2F3841;
	text-align:center;
    display: inline-block;
    }
</style>


  <h1 th:text="' Here is information about manufacturer with id: ' + ${manufacturer.id}" class="inline"></h1><br>
  <h2 th:text="'First name ' + ${manufacturer.name}" class="inline"></h2>

</body>
</html>